    *{
    box-sizing: border-box; 
    }


    h1 {
    text-align: center; 
    }

    a:link {
    color: black;
    font-weight: bold;
    background-color:  rgb(221, 218, 218);
    }

    figcaption {
    color: rgb(197, 184, 184);
    }

    ul {
    list-style-type: none; 
    }
 
    .nav li{
        text-align: center
    }

    img {
        max-width: 100%; 
    }

    .width {
        max-width: 65%
    }

    .align
     {
        text-align: center; 
    }

    .margin {
        margin: auto; 
    }
    
    .container {
        max-width: 90%; 
    }

    .float-left {
        float: left; 
    }
}


@media (min-width: 768px) {
    .container {
        width: 90%; 
        margin: 0 auto;
    }

    .width div{
        width: 50%;
        float: left; 
    }


    .float-right {
        float: right; 
    }
}



@media (min-width: 1024px) {

}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}