*{
    box-sizing: border-box; 
}

/*media queries*/
@media (min-width: 320px) {
    
    
    a:link {
        color: black;
        font-weight: bold;  
    }

    .nav {
        margin: 25px 0;  
    }

    }
    .nav li {
        text-align: center; 
        list-style-type: none;
        margin: 4px;
        background-color: lightsteelblue;
    }

    .adjust {
        max-width: 80%;
        margin: 20px 0;   
    }
    
    figure {
        text-align: center; 
    }

    figcaption {
        font-size: 20px; 
        color: grey; 
    }
    
    h2 {
        padding: 20px 0; 
        margin: 20px 0; 
    }

    h3 {
        font-weight: bold; 
        text-align: center; 
    }
    
    .clearfix::after {
    content:'';
    display: table;
    clear: left;
    }

    .margin{
        margin: 0 0 0 70px; 
    }
}

@media (min-width: 768px) {
    
    .nav {
        text-align: center;
    }
    
    .nav li {
        display: inline-block;
    }

    .adjust {
        max-width: 30%;  
    }
    
    .clearfix::after {
        content:'';
        display: table;
        clear: left;
        }

    
    
    
}

}

@media (min-width: 1024px) {


}

h1 {
        text-align: center; 
    }

    /*floats*/
.float-left {
    float: left;
}

.float-right {
    float: right; 
}


/*main-content*/
h2 {
    text-align: center; 
}


/*footer*/
footer {
    text-align: center;
    min-height: 100vh;
    
}




