*{
    box-sizing: border-box; 
    }

    img {
        max-width: 100%;
    }

    a:link {
    color: black;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    
    }

    a:visited {
        color: black; 
    }

    figcaption {
    color: rgb(150, 147, 147);
    }

    ul {
    list-style-type: none; 
    }
 
   
 .container {
     padding-left: 1em;
     padding-right: 1em;  
 }

    h2,
    h3 {
    text-align: center; 
}

.float-right{
    float: right; 
}

.float-left{
    float: left; 
}

.footer-nav{
    display: none; 
}

.name,
.main-nav {
    text-align: center; 
}

@media (min-width: 768px) {
   .container {
       width: 90%;
       margin: 0 auto; 
   }

}

@media (min-width: 1024px) {
    
  
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}